{% extends 'base.html.twig' %}

{% block title %}Les Trésors Cachés de la Maison{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="flash flashy_success">{{ message }}</div>
{% endfor %}
{% for message in app.flashes('info') %}
    <div class="flash flashy_info">{{ message }}</div>
{% endfor %}
{# HERO #}
<button id="scrollToTopBtn" class="btn-scroll-to-top">
  <i class="fas fa-arrow-up"></i>
</button>
<section class="hero_container">
    <div class="hero_container_element">
        <h1>Les Trésors Cachés de la Maison</h1>
        <p>Explorez les secrets naturels de la maison pour une vie saine et rayonnante.</p>
        <a href="{{ path('app_blog')}}" class="btn btn_filled_green">Découvrir le blog</a>
    </div>
</section>
<section class="search_container">
    <h2>Quels trésors cherchez-vous ?</h2>
    <div class="search_card_container">
        {% for category in categories %}  
            <div class="search_card_container-item">
            {% if category.imageName is not null %}
                <img src="{{ asset('uploads/images/category/' ~ category.imageName) }}" alt="{{category.imageName}}">
            {% else %}
                <img src="{{ asset('img/naturaliste.png') }}" alt="Image par défaut">
            {% endif %}
                <div class="search_card_container-item-text">
                    <h3>{{category.name}}</h3>
                    <p>{{category.description}}</p>
                    <a href="{{ path('app_category', {slug: category.slug}) }}">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<article class="article_container">
    <h2>Articles Récents</h2>
    <div class="article_container_element">
        {% for article in articles %}            
            <div href="" class="article_container-element-item">
                {% if article.imageName is not null %}
                    <img src="{{ asset('uploads/images/article/' ~ article.imageName) }}" alt="{{article.imageName}}">
                {% else %}
                    <img src="{{ asset('img/photo-par-defaut.jpg') }}" alt="Image par défaut">
                {% endif %}
                <div class="article_container_element-item-text">
                    {% include "components/_badges.html.twig" %}
                    <h3>{{article.title}}</h3>
                    {% include "components/_like.html.twig" %}
                    <div class="display-flex">
                        <p>Date: {{article.createdAt|date('d/m/Y')}}</p>
                        <div class="padding-x-10"><i class="fa-solid fa-comment"></i> {{ article.comments|length }}</div>
                    </div>
                    <p>{{article.content|u.truncate(100, '...')|raw}}</p>
                    <a href="{{ path('app_blog_show', {slug: article.slug})}}" class="link-golden-darken">Lire plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
</article>
<article class="my_story_container">
    <img src="{{ asset('img/femme-au-bord-de-falaise.jpg' )}}" alt="femme au bord de falaise">
    <div class="my_story_container_text_content">
        <h2>Notre Histoire</h2>
        <p>Il était une fois une idée qui germa dans le cœur et l'esprit d'une passionnée de la nature et de la tradition. Cette idée était celle de créer un espace virtuel où les trésors cachés, transmis de génération en génération, pourraient briller de nouveau. Ainsi naquit "Les Trésors Cachés de la Maison", un blog dédié à l'art de vivre fait maison, avec une focalisation bienveillante sur les remèdes naturels.</p>
        <a href="{{ path('app_history')}}">En savoir plus <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</article>
{% endblock %}
