{% extends 'base.html.twig' %}

{% block title %}Les Trésors Cachés de la Maison{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="flash flashy_success">{{ message }}</div>
{% endfor %}
{# HERO #}
<button id="scrollToTopBtn" class="btn-scroll-to-top">
  <i class="fas fa-arrow-up"></i>
</button>
<section class="hero_container">
    <div class="hero_container_element">
        <h1>Les Trésors Cachés de la Maison</h1>
        <p>Explorez les secrets naturels de la maison pour une vie saine et rayonnante.</p>
        <a href="{{ path('app_blog')}}" class="btn btn_filled_green">Découvrir le blog</a>
    </div>
</section>
<section class="search_container">
    <h2>Quels trésors cherchez-vous ?</h2>
    <div class="search_card_container">
        {% for category in categories %}  
            <div class="search_card_container-item">
                <img src="{{ asset('uploads/images/category/' ~ category.imageName) }}" alt="{{category.imageName}}">
                <div class="search_card_container-item-text">
                    <h3>{{category.name}}</h3>
                    <p>{{category.description}}</p>
                    <a href="">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>
<article class="article_container">
    <h2>Articles Récents</h2>
    <div class="article_container_element">
        {% for article in articles %}            
            <div href="" class="article_container-element-item">
                <img src="{{ asset('uploads/images/article/' ~ article.imageName) }}" alt="{{article.imageName}}">
                <div class="article_container_element-item-text">
                    {% for category in article.categories %}
                        <p class="article_container_element_item-text-tag">{{ category.name }}</p>
                    {% endfor %}
                    <h3>{{article.title}}</h3>
                    <p>Date: {{article.createdAt|date('d/m/Y')}}</p>
                    <p>{{article.content|u.truncate(120, '...')|raw}}</p>
                    <a href="{{ path('app_blog_show', {slug: article.slug})}}" class="link-golden-darken">Lire plus</a>
                </div>
            </div>
        {% endfor %}
    </div>
</article>
<article class="my_story_container">
    <img src="{{ asset('img/femme-au-bord-de-falaise.jpg' )}}" alt="femme au bord de falaise">
    <div class="my_story_container_text_content">
        <h2>Notre Histoire</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus placeat minima, numquam vero error quisquam itaque rerum quam odit soluta minus ullam atque esse enim delectus quos dignissimos ut! Nostrum.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus placeat minima, numquam vero error quisquam itaque rerum quam odit soluta minus ullam atque esse enim delectus quos dignissimos ut! Nostrum.</p>
        <a href="">En savoir plus <i class="fa-solid fa-arrow-right"></i></a>
    </div>
</article>
<article class="newsletter_container">
    <h2>Newsletter</h2>
    <p>Ne ratez plus aucun trésor caché ! Abonnez-vous à notre newsletter pour recevoir régulièrement des astuces maison, des remèdes naturels, et des secrets pour une vie saine et rayonnante, directement dans votre boîte de réception.</p>
    <form action="">
        <label for=""></label>
        <input type="email" name="" id="" placeholder="Email">
        <button type="submit">Souscrire</button>
    </form>
</article>
{% endblock %}
