{% extends 'base.html.twig' %}

{% block title %}Les Trésors Cachés de la Maison{% endblock %}

{% block body %}

{# HERO #}
<section class="hero_container">
    <div class="hero_container_element">
        <h1>Les Trésors Cachés de la Maison</h1>
        <p>Explorez les secrets naturels de la maison pour une vie saine et rayonnante.</p>
        <a href="#" class="btn btn_filled_green">Découvrir le blog</a>
    </div>
</section>
<section class="search_container">
    <h2>Quels trésors cherchez-vous ?</h2>
    <div class="search_card_container">
        <div class="search_card_container-item">
            <img src="{{ asset('img/icons/icon-remedy-natural.png' )}}" alt="">
            <div class="search_card_container-item-text">
                <h3>Remèdes Naturels</h3>
                <p>Explorez des remèdes naturels pour une santé équilibrée.</p>
                <a href="">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="search_card_container-item">
            <img src="{{ asset('img/icons/icon-yoga.png' )}}" alt="">
            <div class="search_card_container-item-text">
                <h3>Bien-Être</h3>
                <p>Découvrez le bien-être naturel et les pratiques pour une vie harmonieuse.</p>
                <a href="">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="search_card_container-item">
            <img src="{{ asset('img/icons/icon-beauty-products.png' )}}" alt="">
            <div class="search_card_container-item-text">
                <h3>Beauté Naturelle</h3>
                <p>Révélez votre beauté authentique avec nos astuces beauté maison.</p>
                <a href="">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="search_card_container-item">
            <img src="{{ asset('img/icons/icon-health.png' )}}" alt="">
            <div class="search_card_container-item-text">
                <h3>Santé</h3>
                <p>Un guide complet pour une vie saine à la maison.</p>
                <a href="">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="search_card_container-item">
            <img src="{{ asset('img/icons/icon-cleaning.png' )}}" alt="">
            <div class="search_card_container-item-text">
                <h3>Nettoyage Écologique</h3>
                <p>Des solutions pour un foyer sain et respectueux de l'environnement.</p>
                <a href="">Découvrir <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</section>
<article class="article_container">
</article>
<article class="my_story_container">
</article>
<article class="newsletter_container">
</article>
{% endblock %}
