{{ form_start(form) }}
    <div class="form_container_content-element">
        {{ form_label(form.title, 'Titre') }}
        {{ form_widget(form.title, {
            'attr': {
                'class': 'form_container_content-element-input'
            }
        }) }}
    </div>
    <div class="form_container_content-element">
        {{ form_label(form.content, 'Description') }}
        {{ form_widget(form.content, {
            'attr': {
                'class': 'form_container_content-element-input'
            }
        }) }}
    </div>
    <div class="form_container_content-element">
        {{ form_label(form.state, 'Etat') }}
        {{ form_widget(form.state, {
            'attr': {
                'class': 'form_container_content-element-input'
            }
        }) }}
    </div>
    <div class="dashboard_btn_container padding-10">
        <button class="btn btn_filled_green text-align-center margin-t-25">{{ button_label|default('Créer') }}</button>
    </div>
{{ form_end(form) }}

