{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
<button id="scrollToTopBtn" class="btn-scroll-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<div class="form_container">
    <img src="{{ asset("img/terrasse-maison.jpg") }}" alt="terrase maison" class="form_img">
    <div class="form_container_content">
        <h1 class="form_container-title">Bienvenue !</h1>
    {{ form_errors(registrationForm) }}
    
    {{ form_start(registrationForm) }}
        <div class="form_container_content-element">
            {{ form_label(registrationForm.nickname, 'Pseudo') }}
            {{ form_widget(registrationForm.nickname, {
                    'attr': {
                        'class': 'form_container_content-element-input'
                    }
                }) }}
        </div>
        <div class="form_container_content-element">
            {{ form_label(registrationForm.first_name, 'Prénom') }}
            {{ form_widget(registrationForm.first_name, {
                    'attr': {
                        'class': 'form_container_content-element-input'
                    }
                }) }}
        </div>
        <div class="form_container_content-element">
            {{ form_label(registrationForm.last_name, 'Nom') }}
            {{ form_widget(registrationForm.last_name, {
                    'attr': {
                        'class': 'form_container_content-element-input'
                    }
                }) }}
        </div>
        <div class="form_container_content-element">
            {{ form_label(registrationForm.email, 'Email') }}
            {{ form_widget(registrationForm.email, {
                    'attr': {
                        'class': 'form_container_content-element-input'
                    }
                }) }}
            <div class="form_container_content-error">
                {{ form_errors(registrationForm.email) }}
            </div>
        </div>
        <div class="form_container_content-element">
            {{ form_label(registrationForm.plainPassword, 'Mot de passe') }}
            {{ form_widget(registrationForm.plainPassword, {
                }) }}
            <div class="form_container_content-validation-mdp">
                <p>Votre mot de passe doit contenir 8 caractères minimum:</p>
                <ul>
                    <li>Une lettre majuscule</li>
                    <li>Une lettre minuscule</li>
                    <li>Un chiffre</li>
                    <li>Un caractère spécial: -+!*$@%_#)</li>
                </ul>
            </div>
            <div class="form_container_content-error">
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
        </div>
        <div class="button-container">
            <button class="btn btn_filled_green">{{ button_label|default('S\'inscrire') }}</button>
        </div>
    {{ form_end(registrationForm) }}

    </div>
</div>
{% endblock %}
