<div class="navbar_dasboard_container">
    <div class="navbar_dashboard_container_element">
        <div class="navbar_dashboard_container_element_item">
            <a href="{{ path('app_admin_index')}}" class="navbar_dashboard_container_element_item-link {% if app.request.attributes.get('_route') == 'app_admin_index' %}active{% endif %}"><i class="fa-solid fa-house"></i>Mon espace</a>
        </div>
        <div class="navbar_dashboard_container_element_item">
            <a href="{{ path('app_admin_show', {'id': app.user.id}) }}" class="navbar_dashboard_container_element_item-link {% if app.request.attributes.get('_route') == 'app_admin_show' %}active{% endif %}"><i class="fa-solid fa-user"></i>Mon profil</a>
        </div>   
        <div class="navbar_dashboard_container_element_item">
            <a href="{{ path('app_admin_index_user')}}" class="navbar_dashboard_container_element_item-link {% if app.request.attributes.get('_route') == 'app_admin_index_user' %}active{% endif %}"><i class="fa-solid fa-users"></i>Utilisateurs</a>
        </div>   
        {# <div class="navbar_dashboard_container_element_item">
            <a href="{{ path('app_admin_article_new')}}" class="navbar_dashboard_container_element_item-link {% if app.request.attributes.get('_route') == 'app_admin_article_new' %}active{% endif %}"><i class="fa-regular fa-note-sticky"></i>Créer un article</a>
        </div>    #}
        <div class="navbar_dashboard_container_element_item">
            <a href="{{ path('app_admin_article_index')}}" class="navbar_dashboard_container_element_item-link {% if app.request.attributes.get('_route') == 'app_admin_article_index' %}active{% endif %}"><i class="fa-solid fa-newspaper"></i>Articles</a>
        </div>   
        <div class="navbar_dashboard_container_element_item">
            <a href="{{ path('app_admin_category_index')}}" class="navbar_dashboard_container_element_item-link {% if app.request.attributes.get('_route') == 'app_admin_category_index' %}active{% endif %}"><i class="fa-regular fa-note-sticky"></i>Categories</a>
        </div>   
    </div>
</div>