{% extends 'base.html.twig' %}

{% block title %}Modification du mot de passe{% endblock %}

{% block body %}
<button id="scrollToTopBtn" class="btn-scroll-to-top">
    <i class="fas fa-arrow-up"></i>
</button>
<div class="dashboard_container">
    {{ include('admin/_navbar_dashboard.html.twig') }}
    <div class="dashboard_container_content">
        <h1 class="dashboard_title">Modification du mot de passe</h1>
        {{ form_start(form) }}
            <div class="form_container_content-element">
                {{ form_label(form.password, 'Mot de passe') }}
                {{ form_widget(form.password, {
                }) }}
                <div class="form_container_content-validation-mdp">
                    <p>Votre mot de passe doit contenir 8 caractères minimum:</p>
                    <ul>
                        <li>Une lettre majuscule</li>
                        <li>Une lettre minuscule</li>
                        <li>Un chiffre</li>
                        <li>Un caractère spécial: -+!*$@%_#)</li>
                    </ul>
                </div>
                <div class="form_container_content-error">
                    {{ form_errors(form.password) }}
                </div>
            </div>
            <div class="dashboard_btn_container">
                <button type="submit" class="btn btn_filled_green">Modifier le mot de passe</button>
            </div> 
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}