<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Les Trésors Cachés de la Maison{% endblock %}</title>
        <meta name="description" content="Bienvenue sur « Les Trésors Cachés de la Maison », votre source de connaissances et d'inspiration pour un mode de vie sain, naturel et respectueux de l'environnement. Découvrez nos secrets du fait maison, des remèdes naturels, des astuces pour la santé, la beauté, et des solutions pour une maison plus verte. Rejoignez notre communauté passionnée et engagée pour explorer l'art du bien-être au naturel, inspiré par nos grands-mères et grands-pères. Explorez les richesses des remèdes naturels traditionnels et embrassez une vie plus saine, tout en préservant la sagesse du passé.">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('/favicon_io/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('/favicon_io/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/favicon_io/favicon-16x16.png')}}">
        <link rel="manifest" href="{{ asset('/favicon_io/site.webmanifest')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}" />
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('tinymce/js/tinymce/tinymce.min.js') }}" referrerpolicy="origin" defer></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header id="header">
            <nav class="navbar_container">
                <ul class="navbar_container_element">
                    <li class="navbar_container_element-link"><a href="{{ path('app_app')}}">Accueil</a></li>
                    {% include 'components/_dropdown_categories.html.twig' with {'categories': categories} %}
                    <li class="navbar_container_element-link"><a href="{{ path('app_history')}}">Histoire</a></li>
                    <li class="navbar_container_element-link"><a href="{{ path('app_contact')}}">Contact</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="navbar_container_element-link"><a href="{{path('app_admin_index')}}">Dashboard | BackOffice</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        {% if not is_granted('ROLE_ADMIN') %}
                            <li class="navbar_container_element-link"><a href="{{ path('app_user_index')}}">Mon espace</a></li>
                        {% endif %}
                    {% endif %}
                </ul>
                <div class="logo">
                    <img src="{{ asset('img/logo-les-tresors-caches-de-la-maison.svg' )}}" alt="logo les trésors cachés de la maison">
                </div>
                <ul class="navbar_container_element">
                    {% if app.user %}
                        <li><a href="{{ path('app_logout')}}" class="btn btn_filled_red">Deconnexion</a></li>
                    {% else %}
                        <li><a href="{{ path('app_login')}}" class="btn btn_outlined_green">Connexion</a></li>
                        <li><a href="{{ path('app_register')}}" class="btn btn_filled_green">Inscription</a></li>
                    {% endif %}
                </ul>
                <div class="navbar_icon_burger">
                    <i class="fa fa-bars"></i>
                </div>
                <ul class="navbar_dropdown_menu">
                    <li class="navbar_container_element-link"><a href="{{ path('app_app')}}">Accueil</a></li>
                    <li class="navbar_container_element-link"><a href="{{ path('app_blog')}}">Blog</a></li>
                    {% for category in categories %}
                        <li class="navbar_container_element-link">
                            <a href="{{ path('app_category', {slug: category.slug}) }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                    <li class="navbar_container_element-link"><a href="{{ path('app_history')}}">Histoire</a></li>
                    <li class="navbar_container_element-link"><a href="{{ path('app_contact')}}">Contact</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="navbar_container_element-link"><a href="{{path('app_admin_index')}}">Dashboard | BackOffice</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_USER') %}
                        {% if not is_granted('ROLE_ADMIN') %}
                            <li class="navbar_container_element-link"><a href="{{ path('app_user_index')}}">Mon espace</a></li>
                        {% endif %}
                    {% endif %}
                    {% if app.user %}
                        <li class="navbar_container_element-link"><a href="{{ path('app_logout')}}">Deconnexion</a></li>
                    {% else %}
                        <li class="navbar_container_element-link"><a href="{{ path('app_login')}}">Connexion</a></li>
                        <li class="navbar_container_element-link"><a href="{{ path('app_register')}}">Inscription</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block body %}{% endblock %}
        <footer>
            <div class="footer_container_top">
                <div class="footer_container_top-logo-container">
                    <img src="{{ asset('img/logo-les-tresors-caches-de-la-maison.svg' )}}" alt="logo les trésors cachés de la maison">
                    <h3>Les Trésors Cachés de la Maison</h3>
                </div>
                <div class="footer_container_top-information-container">
                    <div class="footer_container_top-information-element">
                        <h3>Accueil</h3>
                        <ul>
                            <li><a href="{{ path('app_blog')}}">Blog</a></li>
                            <li><a href="{{ path('app_history')}}">Histoire</a></li>
                            <li><a href="{{ path('app_contact')}}">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer_container_top-information-element">
                        <h3>Blog</h3>
                        <ul>
                            {% for category in categories %}
                                <li><a href="{{ path('app_category', {slug: category.slug}) }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="footer_container_top-information-element">
                        <h3>Information</h3>
                        <ul>
                            <li><a href="{{ path('app_legal_notice')}}">Mentions légales</a></li>
                            <li><a href="{{ path('app_privacy_policy')}}">Politique de Confidentialité</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_container_bottom">
                <div class="footer_container_bottom-reserved">© 2023 Les Trésors Cachés de la Maison- Tous droits réservés.</div>
                <div class="footer_container_bottom-social-networks">
                    <i class="fa-solid fa-envelope"></i>
                </div>
            </div>
        </footer>
    </body>
</html>
