<div class="article_show_comments_element-view">
    <div class="article_show_comments_element-description-author">
        <img src="{{ comment.author.avatar }}" alt="avatar {{comment.author.firstName|capitalize}}">
        <div class="article_show_comments_element-description-author-text">
            <h4>{{comment.author.nickname}}</h4>
            <p>{{comment.createdAt|date('d/m/Y H:i:s')}}</p>
        </div>
    </div>
    <p>{{comment.content}}</p>
    {% if app.user == comment.author %}
        <form method="post" action="{{ path('app_comment_delete', {'id': comment.id}) }}" name="comment_delete" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer votre commentaire ?');" class="form_comment_delete">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
            <button type="submit">
                <i class="fas fa-trash-alt color-red"></i>
            </button>
        </form>
    {% endif %}
    
</div>
