{% extends "base.html.twig" %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
    <button id="scrollToTopBtn" class="btn-scroll-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <div class="article_show_container">
        <h1>{{article.title}}</h1>
        <div class="article_show_share">
            <p>Partager:</p>
            <a href="https://www.facebook.com/sharer.php?u={{ absolute_url(path('app_blog_show', {slug: article.slug})) }}">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?text={{ article.title|url_encode }}%20{{ absolute_url(path('app_blog_show', {slug: article.slug})) }}%20@LesTresorCachesDeLaMaison">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
        <img src="{{ asset('uploads/images/article/' ~ article.imageName) }}" alt="{{article.imageName}}" class="article_show_img-hero">
        <div>
            <img src="" alt="">
            <p>Dianciré Diallo</p>
        </div>
        <div>
            <p>Publié le {{article.createdAt|date('d/m/Y')}}</p>
            <div>
                <i class="fa-solid fa-comment"></i>
            </div>
        </div>
        <div>
            <p>{{article.content|raw}}</p>
            <p>Dernière mis à jour le {{article.updatedAt|date('d/m/Y')}}</p>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <p>Dianciré Diallo</p>
                <p>Je suis Dianciré, la créatrice de ce blog dédié à la découverte des trésors cachés de la maison. Passionnée par les remèdes naturels, la beauté maison et l'entretien écologique, je partage ici mes découvertes et astuces pour une vie plus saine et rayonnante. Rejoignez-moi dans l'exploration de ces trésors de la nature, tout en préservant notre environnement.</p>
            </div>
        </div>
    </div>

{% endblock %}