{% extends "base.html.twig" %}

{% block title %}{{article.title}}{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="flash flashy_success">{{ message }}</div>
    {% endfor %}
    <button id="scrollToTopBtn" class="btn-scroll-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
    <div class="article_show_container">
        <h1>{{article.title}}</h1>
        <div class="article_show_share">
            <p>Partager:</p>
            <a href="https://www.facebook.com/sharer.php?u={{ absolute_url(path('app_blog_show', {slug: article.slug})) }}">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://twitter.com/intent/tweet?text={{ article.title|url_encode }}%20{{ absolute_url(path('app_blog_show', {slug: article.slug})) }}%20@LesTresorCachesDeLaMaison">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
        {% if article.imageName is not null %}
            <img src="{{ asset('uploads/images/article/' ~ article.imageName) }}" alt="{{article.imageName}}" class="article_show_img-hero">
        {% else %}
            <img src="{{ asset('img/photo-par-defaut.jpg') }}" alt="Image par défaut" class="article_show_img-hero">
        {% endif %}
        <div class="article_show_image_author">
            <img src="{{ article.author.avatar }}" alt="avatar {{article.author.firstName|capitalize}}">
            <h4>{{article.author.firstName|capitalize}} {{article.author.lastName|capitalize}}</h4>
        </div>
        {% include "components/_like.html.twig" %}
        <div class="display-flex">
            <p>Publié le {{article.createdAt|date('d/m/Y')}}</p>
            <div class="article_show_comment padding-x-10">
                <i class="fa-solid fa-comment"></i>
                <a href="#comments">{{ article.comments|length }}</a>
            </div>
        </div>
        <div>
            <p>{{article.content|raw}}</p>
            <p>Dernière mis à jour le {{article.updatedAt|date('d/m/Y')}}</p>
        </div>
        <div class="article_show_description_author">
            <img src="{{ article.author.avatar }}" alt="avatar {{article.author.firstName|capitalize}}">
            <div>
                <h4>{{article.author.firstName|capitalize}} {{article.author.lastName|capitalize}}</h4>
                <p>{{ article.author.bio}}</p>
            </div>
        </div>
        <div class="article_show_comments" id="comments">
            <h3>Commentaires</h3>
            {% for comment in article.comments %}                
                {% include "components/_comment.html.twig" %}
            {% endfor %}
            {% if app.user %}
            <div class="article_show_comments-form">
                {{ form_start(form)}}
                {{form_row(form.content)}}
                <div class="article_btn_container">
                    <button class="btn btn_filled_golden" type="submit">Poster mon commentaire</button>
                </div>
                {{ form_end(form)}}
            </div>
            {% else %}
                <p class="text-align-center">Si vous souhaitez laisser un commentaire, veuillez vous <a href="{{ path('app_login')}}" class="link-golden-darken">connecter</a> ou vous <a href="{{ path('app_register')}}" class="link-golden-darken">inscrire</a>.</p>
            {% endif %}
        </div>
    </div>

{% endblock %}